<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head')%>
    </head>
    <body class="home" data-scroll-container>

      <%- include('common/nav')%>


    <section class="banner-scroll" data-scroll data-scroll-section data-scroll-id="banner-scroll">
      <img data-scroll data-scroll-speed="1" src="/img/banner_illustration_1.png" alt="">
      <h1 data-scroll data-scroll-speed="2"><strong>Bienvenue à toi</strong><br>ici ça parle <span class="highlight typed"></span></h1>
    </section>

    

    <section class="bio-scroll" data-scroll data-scroll-section data-scroll-id="bio-scroll">
      <div class="bio-wrapper">
        <div class="bio-illustration">
          <img src="/img/home_bio_illustration.png" alt="" data-scroll data-scroll-speed="1"/>
          <img src="/img/home_bio_arrow.png" class="arrow" alt="" data-scroll data-scroll-speed="1.2"/>
        </div>
        <div class="bio-content">
          <h4 class="title" data-scroll data-scroll-speed="2">ça c'est moi,&nbsp;<strong>Julien</strong></h4>
          <p  data-scroll data-scroll-speed="1.8">Nantais d’adoption et Lead Dev dans une jeune entreprise, je suis un grand passionné de tout et n’importe quoi. Si je ne devais choisir qu’une phrase pour résumer mon état d’esprit, ce serait cette citation :</p>
          <blockquote data-scroll data-scroll-speed="1.6">
            <p>Il n’existe pas de sujet peu intéressant, il n’y a que des personnes peu interressées.</p>
            <cite>Gilbert Keith Chesterton</cite>
          </blockquote>
          <div class="action-block" data-scroll data-scroll-speed="1.4">
            <a href="/bio" class="button">En savoir plus sur moi</a>
          </div>
        </div>
      </div>
    </section>

    <section class="about-scroll" data-scroll data-scroll-section data-scroll-id="about-scroll">
      <div class="about-wrapper">
        <div class="about-content">
          <h4 class="title" data-scroll data-scroll-speed="2">Ici c'est mon <strong>site perso</strong></h4>
          <p  data-scroll data-scroll-speed="1.8">Plus qu’un simple blog, j'ai construit mon site perso comme un journal de bord dans lequel je consigne mes découvertes, mes expérimentations, mes humeurs, etc..., bref, tout ce qui mérite d’être tracé pour ma mémoire et si ça peut aider les âmes qui se perdent en cet endroit, eh bien c’est gagné pour moi :)</p>
          <div class="action-block" data-scroll data-scroll-speed="1.4">
            <a href="/articles" class="button">Ouvrir le journal de bord</a>
          </div>
        </div>
        <div class="about-illustration"></div>
      </div>
    </section>

    <section class="last-articles-scroll" data-scroll data-scroll-section data-scroll-id="last-articles-scroll">
      <h2 class="highlight" data-scroll data-scroll-speed="1">Dernièrement dans le journal</h2>

      <ul class="projects" data-scroll data-scroll-speed="2">
        <% for(var i=collections.carnet.length-1; i >= collections.carnet.length-3; i--) { if (collections.carnet[i]) {%>
              <li class="project">
                <a href="<%= collections.carnet[i].url %>">
                  <img src="/img/<%= collections.carnet[i].fileSlug %>/thumbnail.png" alt="Image d'illustration de l'article <%= collections.carnet[i].data.title %>">
                  <h4>Jour <%= Math.round(((new Date(collections.carnet[i].data.date)).getTime() - (new Date(pkg.startDate)).getTime()) / (1000*60*60*24)) %></h4>
                  <p><%= collections.carnet[i].data.summary %></p>
                </a>
              </li>
        <%}}%>
      </ul>

  </section>

    <section class="content-scroll" data-scroll data-scroll-section data-scroll-id="content-scroll">
        
    </section>

      <%- include('common/footer')%>

      <%- include('common/js')%>

      </body>
</html>