<div class="<%=tileSize%>-project project" style="background-image: url('/img/<%= tileItem.fileSlug %>/thumbnail.png');">

    <a href="<%= tileItem.url %>">
        <div class="hover-bg">&nbsp;</div>
        <div class="hover-fg">
          <h4><%= tileItem.data.title %></h4>
          <span><%= tileItem.data.categoryTitle %></span>
        </div>
      </a>
</div>